<!-- Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase text-left">Technology consulting</h2>
              <img class="img-fluid d-block mx-auto float-right" src="img/portfolio/03-thumbnail.jpg" alt="">
              <p class="item-intro text-muted text-left">Public sector, Banking, Retail</p>
              <ul class="list-inline text-left fa-ul">
                <li><span class="fa-li" ><i class="fas fa-chevron-right"></i></span>Trusted partner</li>
                <li><span class="fa-li" ><i class="fas fa-chevron-right"></i></span>Experienced Team</li>
                <li><span class="fa-li" ><i class="fas fa-chevron-right"></i></span>Hands-on support</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>