<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase text-left">Systems integration</h2>
              <img class="img-fluid d-block mx-auto float-right" src="img/portfolio/02-thumbnail.jpg" alt="">
              <p class="item-intro text-muted text-left">Web Services (SOAP, REST), Messaging, Security</p>
              <ul class="list-inline text-left fa-ul">
                <li><span class="fa-li" ><i class="fas fa-chevron-right"></i></span>SOAP Web services</li>
                <li><span class="fa-li" ><i class="fas fa-chevron-right"></i></span>Restful APIs</li>
                <li><span class="fa-li" ><i class="fas fa-chevron-right"></i></span>Message Queues</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>