<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
  <body id="page-top">
    <!-- Navigation -->
    {% include "navbar.html" %}
    <!-- Header -->
    {% include "header.html" %}
    <!-- Services -->
    {% include "services.html" %}
    <!-- Technologies -->
    {% include "tech.html" %}
    <!-- About -->
    {% include "about.html" %}
    <!-- Team -->
    {% include "team.html" %}
    <!-- Contact -->
    {% include "contact.html" %}
    <!-- Footer -->
    {% include "footer.html" %}
    <!-- Portfolio Modals -->
    {% include "modals/development.html" %}
    {% include "modals/integration.html" %}
    {% include "modals/consulting.html" %}
    <!-- Scripts -->
    {% include "scripts.html" %}
  </body>
</html>