<section id="team" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
        <h3 class="section-subheading text-muted">We are here to help.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="img/team/asma.jpg" alt="">
          <h4>Asma Aroun</h4>
          <p class="text-muted">Co-founder</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="img/team/taleb.jpg" alt="">
          <h4>Taleb Benouaer</h4>
          <p class="text-muted">Founder/Lead developer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">Our team have the skills and experince to help you achieve your technology objectives</p>
      </div>
    </div>
  </div>
</section>